:root {
	--fg1: #202020;
	--fg2: #727272;
	--bg1: #fcfcfc;
	--bg2: #f2f2f2;
	--bg3: #e0e0e0;

	--padding: 1em;
	--radius: 4px;
	--transition: linear 100ms;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg1: #fcfcfc;
		--fg2: #727272;
		--bg1: #202020;
		--bg2: #282828;
		--bg3: #363636;
	}
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	color: var(--fg1);
	background-color: var(--bg1);
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: var(--padding);
	line-height: 1.4em;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

li {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

li::marker {
	color: var(--fg2);
	transition: var(--transition);
}

li:hover::marker {
	color: var(--fg1);
}

a, a:link {
	color: var(--fg1);
	text-decoration: none;
	border-bottom: 1px dotted var(--fg1);
}

a:hover {
	border-bottom: 1px solid var(--fg1);
}

a:visited {
	color: var(--fg2);
	border-bottom: 1px dotted var(--fg2);
}

hr {
	margin-top: 2em;
	margin-bottom: 2em;
	border: 1px solid var(--fg1);
}

blockquote {
	background-color: var(--bg2);
	margin: 0;
	padding: var(--padding);
	border-left: 4px solid var(--fg1);
	border-radius: var(--radius);
}

pre {
	color: white;
	background-color: black;
	padding: var(--padding);
	overflow-x: scroll;
	border-radius: var(--radius);
}

table {
	background-color: var(--bg2);
	width: 100%;
	border-spacing: 0;
	border-radius: var(--radius);
}

table caption {
	padding: var(--padding);
}

tr:nth-child(2n) {
	background-color: var(--bg3);
}

th {
	padding: var(--padding);
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	border-bottom: 2px solid var(--fg1);
	text-align: left;
}

td {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

details {
	background-color: var(--bg2);
	padding: var(--padding);
	border-radius: var(--radius);
	border: 2px solid var(--bg3);
}

details summary {
	cursor: pointer;
}

details[open=""] summary {
	margin-bottom: var(--padding);
	padding-bottom: var(--padding);
	border-bottom: 2px solid var(--bg3);
}

img {
	max-width: 100%;
}

mark {
	background-color: var(--fg1);
	color: var(--bg1);
	padding-left: 4px;
	padding-right: 4px;
}

header {
	margin-bottom: 2.8em;
}

section {
	margin-top: 2em;
	margin-bottom: 2em;
}

footer {
	margin-top: 2.8em;
}

/**/

button, input, textarea {
	color: var(--fg1);
	background-color: var(--bg2);
	border-radius: var(--radius);
	border: 2px solid var(--bg3);
	transition: var(--transition);
}

button:hover, input:not([type="submit"]):focus, textarea:focus, input[type="submit"]:hover {
	color: var(--fg1);
	background-color: var(--bg3);
	border: 2px solid var(--fg2);
}

input[type="submit"] {
	border: 2px solid var(--bg3);
	background-color: var(--bg2);
}

button:active, input[type="submit"]:active {
	background-color: var(--bg1);
	border: 2px solid var(--bg3);
}

input:not([type="checkbox"], [type="radio"]), textarea {
	display: block;
	width: 100%;
	padding: var(--padding);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

input:disabled {
	color: var(--fg2);
	background-color: var(--bg2);
}

input:read-only:not([type="submit"]) {
	border: unset;
}

label {
	font-weight: bold;
}

textarea {
	max-width: 100%;
	min-height: 150px;
}